<!DOCTYPE html>
<html>
    {% include "html_head.html" %}
    <body>
        <div id="header-content">
            <table>
                <tr>
                    <td align="left">Auditax Crypto CGT Report</td>
                    <td align="right">{{ date|datefilter }}</td>
                </tr>
            </table>
        </div>
        <div id="footer-content">
            Page <pdf:pagenumber /> of <pdf:pagecount />
        </div>
        {% include "cover_page.html" %}
        <h1>Audit</h1>
        {% include "audit.html" %}
    </body>
</html>
