<div id="cover-page">
    <img src="{{ TEMPLATE_PATH }}/img/Auditax.png" class="logo">
    <h1>Auditax Crypto Tax Report</h1>
    <h2>Australian Tax Rules (ATO)</h2>
    {% if args.tax_year %}
        <h3>Tax Year: {{ config.format_tax_year(args.tax_year) }}</h3>
    {% else %}
        <h3>
            Tax Year(s):
            {% for tax_year in tax_report|sort %}
                {{ config.format_tax_year(tax_year) }}
                {%- if not loop.last -%},{% endif %}
            {% endfor %}
        </h3>
    {% endif %}
    <h4>Source: {{ args.filename }}</h4>
</div>
<pdf:nexttemplate name="default" />
<pdf:nextpage />
